!!! 5
%html{ :lang => "en", :class => "no-js" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    -#%title= content_for?(:title) ? yield(:title) : "Untitled"

    %link{ rel: "stylesheet", href: "/stylesheets/app.css" }
    =js :modernizr
    %script{ type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js", charset: "utf-8"}
    -#= csrf_meta_tag
    -# TODO csrf

  %body
    -#
      - flash.each do |k, v|
        - Array(v).each do |msg|
          = "#{k}: #{msg}"
    .nav.top-bar(data-topbar)
      %ul.title-area
        %li.name
          %h1
            %a{ href: "/" } Home
      -#
        %section.top-bar-section
          %ul.left
            %li= link_to "Generate", new_histogram_path

    = yield

    =js :libs
    =js :application
